<!--suppress HtmlFormInputWithoutLabel -->
<mat-toolbar>
  <span>Change Password</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>

    <form class="my-form" [formGroup]="changePasswordForm" (ngSubmit)="onPasswordChange()">

      <mat-form-field class="full-width">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="Old Password" name="oldPassword" type="password"
               required formControlName="oldPassword">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" name="newPassword" type="password"
               required formControlName="newPassword">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirm New Password</mat-label>
        <input matInput placeholder="Confirm New Password" name="newPasswordConfirm"
               type="password" required formControlName="newPasswordConfirm">
      </mat-form-field>

      <div *ngIf="hasCars">
        <mat-form-field class="full-width">
          <mat-label>License Plate</mat-label>
          <input matInput placeholder="Provide license number for one of your cars"
                 type="text" name="licensePlate" required formControlName="licensePlate">
        </mat-form-field>
      </div>

    </form>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button type="submit" (click)="onPasswordChange()"
            color="primary" [disabled]="!changePasswordForm.valid">
      Change Password
    </button>
  </mat-card-actions>
</mat-card>
