.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: auto auto;
}

.full-width {
  width: 100%;
}

span {
  margin: auto auto;
}

button {
  width: 20%;
  position: relative;
  left: 40%;
}

.my-card {
  width: 100%;
}

.car-photo-preview img{
  max-width: 60vw;
  max-height: 60vw;
  object-fit: cover;
}

.action{
  width: auto;
  left: auto;
}
