<mat-table [dataSource]="usersDataSource">

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.age}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="telephoneNumber">
    <mat-header-cell *matHeaderCellDef>Telephone Number</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.telephoneNumber}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="company">
    <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.company}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="password">
    <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.password}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" class="action">Edit</button>
      <button mat-raised-button color="warn" class="action">Remove</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let user; columns: columnsToDisplay"></mat-row>

</mat-table>
