.container-fluid {
  height: 100%;
  width: 100%;
}

mat-card {
  margin: 10px;
}

.chart-title {
  text-decoration: underline;
  font-weight: bold;
  font-family: sans-serif;
}

.rounded-circle {
  border-width: 1vw !important;
}

.icon{
  max-width: 4vw;
  max-height: 4vw;
}
