<div class="container-fluid" style="margin-top: 1em">
  <br>
  <div class="row">
    <div class="col">
      <mat-card id="info">

        <mat-list>
          <div mat-subheader>Users Statistics</div>
          <mat-list-item>
            <mat-icon mat-list-icon>person_add</mat-icon>
            <div matline>
              Users ever registered: {{registeredUsersNumber}}
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>

          <div mat-subheader>Cars Statistics</div>
          <mat-list-item>
            <mat-icon mat-list-icon>directions_car</mat-icon>
            <div matline>
              Cars ever registered: {{registeredCarsNumber}}
            </div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>phone_android</mat-icon>
            <div matline>
              Scans ever happened: {{scannedPlatesNumber}}
            </div>
          </mat-list-item>
        </mat-list>

      </mat-card>
    </div>



    <div class="col">
      <mat-card id="systemInfo">
        <mat-list>
          <div mat-subheader><mat-icon class="icon">info</mat-icon><span class="info-system"> System Information:</span></div>
          <mat-label class="info">Info</mat-label>
          <li>Application name : <span class="value">{{appInfo.name}} </span></li>
          <li>Description : <span class="value">{{appInfo.description}} </span> </li>
          <li>Application version : <span class="value">{{appInfo.version}} </span></li>
          <li>Java version :<span class="value"> {{appInfo.java.version}} </span> </li>

          <mat-label class="health">Health</mat-label>
          <li>The state of application : <span class="value"> {{healthInfo.status}}</span> </li>
          <li>DataBase : <span class="value">{{healthInfo.components.db.details.database}}</span> </li>
          <li>Total diskspace :<span class="value"> {{healthInfo.components.diskSpace.details.total}} bytes </span></li>
          <li>Free diskspace : <span class="value"> {{healthInfo.components.diskSpace.details.free}} bytes </span> </li>

          <mat-label class="metrics">Metrics</mat-label>
          <li *ngFor="let measurement of cpuInfo.measurements">
            The number of processors available:
            <span class="value">{{measurement.value}}</span>
          </li>

          <li *ngFor="let measurement of uptimeInfo.measurements">
            The uptime:
            <span class="value">{{measurement.value}}</span>
          </li>


          <li *ngFor="let measurement of httpInfo.measurements; let i = index;" [attr.data-index]="i">
            <span *ngIf="i == 0">Count of http server requests :</span>
            <span *ngIf="i == 1">Total time of http server requests :</span>
            <span *ngIf="i == 2">Maximum of  http server requests :</span>
            <span class="value">{{measurement.value}}</span>
          </li>

          <li *ngFor="let measurement of totalMemoryInfo.measurements">
            The maximum amount of memory in bytes :
            <span class="value">{{measurement.value}}</span>
          </li>

          <li *ngFor="let measurement of usedMemoryInfo.measurements">
            The amount of used memory :
            <span class="value">{{measurement.value}}</span>
          </li>
        </mat-list>
      </mat-card>
    </div>
  </div>




  <div class="row">
    <div class="col">
      <mat-card id="info1">
        Card
      </mat-card>
    </div>
    <div class="col">
      <mat-card id="charttt">
        Card
      </mat-card>
    </div>
    <div class="col">
      <mat-card id="chart2">
        Card
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-card id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive">
        </apx-chart>
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        Card-Pie
      </mat-card>
    </div>
    <div class="col">
      <mat-card>
        Card-Pie
      </mat-card>
    </div>
  </div>

</div>
