.container-fluid {
  height: 100%;
  width: 100%;
}

mat-card {
  margin: 10px;
}

.rounded-circle {
  border-width: 1vw !important;
}

.icon {
  max-width: 4vw;
  max-height: 4vw;
}

.title {
  font-size: 2vw;
  color: lightslategray;
}

.statistics-number{
  font-size: 2vw;
}
