.container-fluid {
  height: 100%;
  width: 100%;
}

mat-card {
  margin: 10px;
}

.icon{
  color: red;
  padding-right: 30px;
  font: 40px
}

.system-info {
  size: 60px;
}

.health, .info, .metrics {
  color: #3f51b5;
  font-size: 25px;
}
.value {
  color: #3f51b5;
}

.info-system {
  font-size: 30px;
  color: #3f51b5;

}
