<div class="container-fluid" style="margin-top: 1em">
  <br>
  <div class="row">
    <div class="col">
      <mat-card id="info">

        <mat-list>
          <div mat-subheader>Users Statistics</div>
          <mat-list-item>
            <mat-icon mat-list-icon>person_add</mat-icon>
            <div matline>
              Users ever registered: {{registeredUsersNumber}}
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>

          <div mat-subheader>Cars Statistics</div>
          <mat-list-item>
            <mat-icon mat-list-icon>directions_car</mat-icon>
            <div matline>
              Cars ever registered: {{registeredCarsNumber}}
            </div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>phone_android</mat-icon>
            <div matline>
              Scans ever happened: {{scannedPlatesNumber}}
            </div>
          </mat-list-item>
        </mat-list>

      </mat-card>
    </div>
    <div class="col">
      <mat-card id="systemInfo">
        <mat-list>
          <div mat-subheader>System Information</div>
          <mat-list-item>
            First: example
          </mat-list-item>
          <mat-list-item>
            Another: example
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card id="info1">
        Card
      </mat-card>
    </div>
    <div class="col">
      <mat-card id="charttt">
        Card
      </mat-card>
    </div>
    <div class="col">
      <mat-card id="chart2">
        Card
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-card id="chart-pie" style="text-align: center">
        <span class="chart-title">Total accepted vs rejected cars</span>
        <apx-chart
          [series]="pieChartOptions.series"
          [chart]="pieChartOptions.chart"
          [labels]="pieChartOptions.labels"
          [responsive]="pieChartOptions.responsive">
        </apx-chart>
      </mat-card>
    </div>
    <div class="col">
      <mat-card id="chart-column" style="text-align: center">
        <span class="chart-title">Daily number of accepted and rejected cars</span>
        <apx-chart
          [series]="columnChartOptions.series"
          [chart]="columnChartOptions.chart"
          [dataLabels]="columnChartOptions.dataLabels"
          [plotOptions]="columnChartOptions.plotOptions"
          [yaxis]="columnChartOptions.yaxis"
          [xaxis]="columnChartOptions.xaxis"
          [legend]="columnChartOptions.legend"
          [fill]="columnChartOptions.fill"
          [stroke]="columnChartOptions.stroke"
          [tooltip]="columnChartOptions.tooltip"
          >
        </apx-chart>
      </mat-card>
    </div>
    <div class="col">
      <mat-card id="chart-cars-per-company" style="text-align: center">
        <span class="chart-title">Cars per company</span>
        <apx-chart
          [series]="carsPerCompanyChartOptions.series"
          [chart]="carsPerCompanyChartOptions.chart"
          [labels]="carsPerCompanyChartOptions.labels"
          [responsive]="carsPerCompanyChartOptions.responsive"
          ></apx-chart>
      </mat-card>
    </div>
  </div>

</div>
