.all-margins {
  margin: 1em;
}

.left-margin {
  margin-left: 1em;
}

.no-left-margin {
  margin-left: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

#firstName {
  padding-left: 100px;

}
.email-container{
  width: 100px!important;
}
