table {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .color-title {
    display: none;
  }
}


.car-list-section {
  margin-bottom: 100px;
}
#example-form-field {
  width: 200px;
}

.color-title {
  width: 25%;
}

.span-icon {
  margin: auto;
}

.all-margins {
  margin: 1em;
}

.left-margin {
  margin-left: 1em;
}

.no-left-margin {
  margin-left: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.example-container {
  height: 400px;
  overflow: auto;
}

mat-header-row{
  position: sticky;
  top:0;
  background: white;
}

mat-paginator{
  position: sticky;
  bottom: 0;
}

.fit-content {
  max-width: fit-content;
}

