<section class="car-list-section">

  <button mat-raised-button color="accent" class="all-margins" [routerLink]="'/addcar'">Add Car</button>

  <mat-form-field id="example-form-field">

    <mat-label class="material-icons" >search</mat-label>
    <label>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search for car" type="text" [(ngModel)]="value">
    </label>
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" type="button">
    <mat-icon (click)="clearInput()">close</mat-icon>
    </button>
  </mat-form-field>


  <div class="example-container mat-elevation-z8 ">
  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="licensePlate">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>License Plate</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let car">{{car.licensePlate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let car">{{car.brand}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Model</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let car">{{car.model}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="color" >
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Color</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let car">
        <span class="color-title">
          {{car.color}}
        </span>
        <span class="material-icons span-icon" style="color:{{car.color}}; margin-left: 1px">directions_car</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Owner</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let car">{{car.ownerName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telephoneNumber">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Telephone Number</mat-header-cell>
      <mat-cell class="duration-cell"
                *matCellDef="let car">{{car.ownerTelephone}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="InOut">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>IN/OUT</mat-header-cell>

      <mat-cell  [ngStyle]="{'color': car.status === 'OUT' ? 'red' : 'green', 'font-size': '16px', 'font-weight': 'bold' }" class="duration-cell"
                *matCellDef="let car">{{car.status}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element; let car">

        <button mat-raised-button color="primary"
                (click)="onEdit(editCarTemplate, car)">Edit
        </button>

        <button mat-raised-button color="warn" class="left-margin"
                (click)="onDelete(car)">Remove
        </button>
      </mat-cell>
    </ng-container>


    <ng-template #editCarTemplate>
    <div>
      <div mat-dialog-title>
        <h2>Edit Car</h2>
        <mat-divider></mat-divider>
        <h5>{{editedCar.licensePlate}}</h5>
      </div>
      <mat-dialog-content [formGroup]="editCarForm">

        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input matInput placeholder="brand" class="no-left-margin"
                 name="brand" type="text" required
                 formControlName="brand">
        </mat-form-field>

        <mat-form-field class="left-margin">
          <mat-label>Model</mat-label>
          <input matInput placeholder="model"
                 name="model" type="text"
                 required formControlName="model">
        </mat-form-field>

        <br>

        <mat-form-field class="no-left-margin">
          <mat-label>Color</mat-label>
          <input matInput placeholder="color" name="color"
                 type="text" required formControlName="color">
        </mat-form-field>

        <mat-form-field class="left-margin">
          <mat-label>Owner</mat-label>
          <input matInput placeholder="owner"
                 name="owner" type="text" required
                 formControlName="ownerName">
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>TelephoneNumber</mat-label>
          <input matInput placeholder="ownerTelephone" name="ownerTelephone"
                 class="no-left-margin" type="text"
                 required formControlName="ownerTelephone">
        </mat-form-field>

        <mat-dialog-actions class="no-bottom-margin">
          <button class="mat-raised-button"
                  [mat-dialog-close]="true">Close
          </button>
          <button class="mat-raised-button mat-primary left-margin"
                  [mat-dialog-close]="true" (click)="updateCar()" >Update
          </button>
        </mat-dialog-actions>

      </mat-dialog-content>
    </div>
    </ng-template>

    <mat-header-row  *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

  </table>

    <mat-paginator  [pageSizeOptions]="[5,10,20]" showFirstLastButtons ></mat-paginator>
  </div>
</section>





