.all-margins {
  margin: 1em;
}

.left-margin {
  margin-left: 1em;
}

.no-left-margin {
  margin-left: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.car-list-section {
  margin-bottom: 8em;
}

.span-icon {
  margin: auto;
}

.color-title {
  width: 25%;
}

.car-photo-preview {
  max-width: 45vw;
  max-height: 45vh;
}

.default-car-photo-preview {
  max-width: 45vw;
  max-height: 45vh;
}

.edit-car-photo {
  max-height: 42vh;
  max-width: 30vw;
  width: 100%;
}

.default-edit-car-photo {
  max-height: 25vh;
  max-width: 25vw;
}

input {
  width: 100%;
}


