.scrollable {
  width: 80vw;
  height: 72vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 98%;
  height: 25%;
  margin: 8px auto;
  padding: 2px;
  position: relative;
}

.icon {
  font-size: 50px;
  margin-left: 22px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin: 2px;
}

.announcement {
  display: flex;
  flex-direction: column;
}

.row-box {
  display: flex;
  flex-direction: row;
}

.icon-box {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.date-box {
  margin-left: 10px;
}

.remove-button {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 30px;
  padding: 1px
}

.message {
  width: 100%;
  height: 72vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.add-button:focus {
  outline: none;
}

.message span {
  font-size: 60px;
  margin: auto auto;
  font-family: sans-serif;
}

.view-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.add-comment-button {
  position: absolute;
  bottom: 5px;
  right: 70px;
}
