<footer id="sticky-footer" class="py-lg-3 text-white-50" >
  <div class="container-fluid container">
    <div class="d-flex flex-row">

      <div class="d-flex flex-column container-center col-md-3">
      <div class="p-2 icon-top green-text"><span class="material-icons icon">mail_outline</span></div>
      <div class="p-0 footer-email"><a href="mailto:info@isd-soft.com">info@isd-soft.com</a></div>
      </div>

      <div class="d-flex flex-column phone container-center  col-md-5">
        <div class="p-2"><span class="material-icons icon">phone</span></div>
        <div class="p-0 footer-phone"><a href="tel:+373 22 996 170">+ 373 22 996 170</a></div>
      </div>

      <div class=" px-5 d-flex flex-column container-center col-md-5">
        <div class="p-2"><span class="material-icons icon">copyright</span></div>
        <div class="p-0"><a>Copyright ©2020, ISD.</a> </div>
      </div>

      </div>
    </div>
</footer>



