html {
  position: relative;
  min-height: 100%;
}

#sticky-footer{
  line-height: 15px;
  text-align: center;
  background: #3f51b5;
  width: 100vw;
}

.phone {
  padding-left: 90px;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-icons {
  font-size: 30px;
}

a{
  color: rgba(255,255,255,.5)!important;
  font-size: 13px;
}

.icon{
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

