.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto auto;
}

.full-width {
  width: 100%;
}

button {
  width: 20%;
  margin: 10px;
}

span {
  margin: auto auto;
}

.my-card {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
