.car-list-section {
  margin: 20px;
  margin-bottom: 100px;
}
#example-form-field {
  width: 200px;
}

.color-title {
  width: 25%;
}

.span-icon {
  margin: auto;
}

.card-content {
  width: 100%;
  font-size: 15px;
  }

.table {
}

.left-margin {
  margin-left: 1em;
}

.profile-info-section {
  margin-bottom: 30px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.car-photo-preview {
  max-width: 45vw;
  max-height: 45vh;
}

.default-car-photo-preview {
  max-width: 45vw;
  max-height: 45vh;
}

.edit-car-photo {
  max-height: 42vh;
  max-width: 30vw;
  width: 100%;
}

.default-edit-car-photo {
  max-height: 25vh;
  max-width: 25vw;
}

input {
  width: 100%;
}
