.car-list-section {
  margin: 20px 20px 0;
}

#example-form-field {
  width: 200px;
}

input {
  min-width: 200px;
}

.color-title {
  width: 25%;
}

.span-icon {
  margin: auto;
}

.card-content {
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.table {
}

.left-margin {
  margin-left: 1em;
}

.all-margins{
  margin: 1em;
}

.car-photo-preview {
  max-width: 45vw;
  max-height: 45vh;
  object-fit: cover;
}

.default-car-photo-preview {
  max-width: 45vw;
  max-height: 45vh;
  object-fit: cover;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.edit-car-photo {
  max-height: 40vh;
  max-width: 40vw;
  object-fit: cover;
}

.default-edit-car-photo {
  max-height: 25vh;
  max-width: 25vw;
  object-fit: cover;
}

input {
  width: 100%;
}
