.car-list-section {
  margin: 20px;
  margin-bottom: 100px;
}
#example-form-field {
  width: 200px;
}

.color-title {
  width: 25%;
}

.span-icon {
  margin: auto;
}

.card-content {
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.table {
}

.left-margin {
  margin-left: 1em;
}

.profile-info-section {
  margin-bottom: 30px;
}


